.input-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
}

.input-field label {
    font-size: var(--fs-p);
}

.input-field input, .input-field textarea {
    width: 300px;
    border: none;
    box-sizing: border-box;
    border-radius: 11px;
    padding: 0.7rem;
    font-family: inherit;
    box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.2);
    color: var(--text-color1);
}

.input-field textarea {
    resize: none;
    height: 100%;
}