.sidenav-container {
    width: 190px;
    z-index: 92;
}

.sidenav-collapsed { width: 85px; }

.sidenav-container, .sidenav-collapsed {
    background-color: var(--bg-color-primary);
    box-shadow: 0px 0px 33px 10px rgba(0,0,0,0.2);
    justify-content: space-between;
    position: fixed;
    height: 100%;
    gap: 1rem;
    transition: all 0.8s ease-in-out;
}

.sidenav-container, .sidenav-top {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sidenav-top {
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    justify-content: start;
    overflow-y: auto;
    overflow-x: hidden;
}

.sidenav-top::-webkit-scrollbar { display: none; }

.sidenav-top a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
}

.pkLogo, .sidenav-collapsed .pkLogo {
    margin: 0 auto;
    max-width: 100%;
    max-height: 45px;
    width: auto;
    height: auto;
    object-fit: contain;
}

.hide-btn {
    border: 2px solid var(--bg-color-ternary);
    border-radius: 50%;
    padding: 0.3rem;

    position: absolute;
    display: flex;
    right: 0;
    top: 1.6rem;
    transform: translateX(70%);

    background-color: var(--bg-color-primary);
}

.sidenav-container .hide-btn svg {
    transform: rotate(-90deg);
    transition: all 0.8s ease;
}

.sidenav-collapsed .hide-btn svg {
    transform: rotate(90deg);
    transition: all 0.8s ease;
}

/*NavSection*/
.sidenav-collapsed .nav-section-title { display: none; }

/*NavButton*/
.sidenav-collapsed .nav-button { gap: 0; }

.sidenav-container .btn-title {
    max-width: 200px;
    opacity: 1;
    transition: all 0.8s ease;
}

.sidenav-collapsed .btn-title {
    max-width: 0;
    opacity: 0;
    margin: 0;
    padding: 0;
    transition: all 0.8s ease;
    overflow: hidden;
}

@media screen and (max-width: 1024px) {
    .sidenav-container, .sidenav-collapsed { display: none; }

    .admin-mobile-links, .nav-section {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: end;
    }

    .admin-mobile-links {
        padding-right: clamp(25px, 3vw, 35px);
        gap: 1rem;
        margin-top: 5rem;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .mobile-menu-content .nav-section-button {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    .admin-mobile-links::-webkit-scrollbar { display: none; }

    .admin-mobile-links .nav-button {
        width: 75%;
        max-width: 160px;
    }

    .admin-mobile-menu {
        width: min(75%, 250px);
    }
}