# This is an example .env file for the frontend of the Patyodklima web application.

# The URL of the backend API which the frontend will communicate with
VITE_API_URL='http://localhost:3000'

# The Cloudflare Turnstile site key for reCAPTCHA integration
VITE_TURNSTILE_SITE_KEY='0x4AAAAAAEZYWEl8VlEDY9LN'