# This is an example .env file for the backend of the Patyodklima web application.

# the port on which the backend server will listen for incoming requests
PORT=3000
# the URL of the frontend application (used for CORS configuration)
FRONTEND_URL="https://www.patyodklima.hu"

# Database connection strings for Postgres, using the shared transaction-mode pooler and session-mode pooler
DATABASE_URL="very_long_database_url_string_here"
# Database connection string for direct access to Postgres (used for migrations)
DIRECT_URL="very_long_direct_database_url_string_here"

# Supabase configuration for the image upload service
SUPABASE_KEY="a_long_supabase_key_string_here"
SUPABASE_URL="just_a_random_supabase_url_string_here"

# Json Web Token (JWT) configuration for user authentication
# Sign and verify JWTs using this secret key
JWT_SECRET="randomly_generated_secret_key_string_here"
# Normal login expires after 15 minutes
JWT_EXPIRES_IN="15m"
# "Remember Me" login expires after 3 days
JWT_REMEMBER_EXPIRES_IN="3d"

# Basic authentication credentials for admin and developer access
ADMIN_EMAIL="very_secret_admin_email@example.com"
ADMIN_PASSWORD="very_secret_admin_password"
DEV_EMAIL="very_secret_dev_email@example.com"
DEV_PASSWORD="very_secret_dev_password"

# Cloudflare Turnstile configuration for reCAPTCHA integration
TURNSTILE_SECRET_KEY="very_long_turnstile_secret_key_string_here"

# Cloudflare API credentials for Visual Design integration
CLOUDFLARE_ACCOUNT_ID="very_long_account_id_string_here"
CLOUDFLARE_API_TOKEN="very_long_api_token_string_here"