#hero {
    width: 98%;
    height: auto;
    scroll-margin-top: clamp(3rem, 5vw, 8rem);
    margin: clamp(5px, 2vw, 15px) auto;
    padding: clamp(4.5rem, 7vw, 9rem) clamp(1.5rem, 2vw, 3.5rem) clamp(2rem, 2vw, 5rem);
    
    background-color: var(--bg-color-ternary);
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.hero-title { 
    width: 100%;
    font-size: var(--fs-h1);
    font-weight: 700;
    color: #f2f2f2;
}

.hero-main {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 1.5rem;
    width: 100%;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: clamp(1rem, 3vw, 2rem);
}

.hero-description {
    font-size: var(--fs-p);
    color: #f2f2f2;
    line-height: 1.5;
}

.hero-description mark {
    display: inline-block;
    background-color: var(--secondary-color);
    color: #f2f2f2;
    padding: 0 0.2em;
    border-radius: 3px;
}

.hero-description span {
    font-weight: bold;
    font-style: italic;
}

.hero-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: max-content;
    padding: clamp(0.75rem, 1vw, 1rem) clamp(1.2rem, 2vw, 3rem);

    background-color: var(--secondary-color);
    color: #f2f2f2;
    font-size: var(--fs-p);
    font-weight: bold;
    white-space: nowrap;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);

    border: 3px solid transparent;
    border-radius: 20px;
    text-decoration: none;

    transition: all 0.2s ease;
}

.hero-btn:is(:hover, :focus, :active) {
    background-color: var(--bg-hover-color);
    border: 3px solid var(--secondary-color);
    color: var(--secondary-color);
}

.hero-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: clamp(0.5rem, 2vw, 2rem) 0;
    width: min(100%, 800px);
}

.hero-right img {
    width: 100%;
    max-width: 500px;
    height: auto;
    aspect-ratio: 16/11;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.252);
}

@media (min-width: 1024px) {
    .hero-description {
        font-size: calc(var(--fs-p) * 1.1);
    }
}

@media (max-width: 768px) {
    .hero-main {
        flex-direction: column;
    }
}

@media (max-width: 376px) {
    #hero {
        width: 96%;
    }
}