.milestone-wrapper {
    color: var(--text-color1);
    text-shadow: 0 2px 8px rgba(0,0,0,0.4);
}

.milestone-number {
    font-size: var(--fs-h2);
    font-weight: 800;
}

.milestone-title {
    font-size: var(--fs-p);
    letter-spacing: 1px;
}