:root {
    --bg-color-primary: #f2f2f2;
    --bg-color-secondary1: linear-gradient(to bottom,hsl(202, 72%, 47%, 0.4), #f2f2f2);
    --bg-color-secondary2: linear-gradient(to top, hsl(202, 72%, 47%, 0.4), #f2f2f2);
    --bg-color-ternary: #228fce;
    --bg-hover-color: #f2f2f2;
    --mobile-bg-color: #f2f2f2;

    --primary-color: #228fce;
    --secondary-color: #e77525;

    --text-color1: black;
    --text-color2: #f2f2f2;
    --pg-color: #f2f2f2;

    --fs-h1: clamp(2rem, 1.6428571428571428rem + 1.7857142857142856vw, 4.5rem);
    --fs-h2: clamp(1.5rem, 1.3571428571428572rem + 0.7142857142857143vw, 2.5rem);
    --fs-h3: clamp(1.25rem, 1.1785714285714286rem + 0.35714285714285715vw, 1.75rem);
    --fs-p: clamp(1rem, 0.9642857142857143rem + 0.17857142857142858vw, 1.25rem);

    --primary-font-family: 'Josefin sans', 'sans-serif';
}

.darkmode {
    --bg-color-primary: #121212;
    --bg-color-secondary1: linear-gradient(to bottom,#202020, #56565670);
    --bg-color-secondary2: linear-gradient(to top, #202020, #56565670);
    --bg-color-ternary: #1f508d;
    --bg-hover-color: #f2f2f2;
    --mobile-bg-color: #202020;

    --primary-color: #228fce;
    --secondary-color: #e77525;

    --text-color1: #f2f2f2;
    --text-color2: black;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

*, ::after, ::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul, ol { list-style: none; }

a { text-decoration: none; }

body {
    background-color: var(--bg-color-primary);
    color: var(--text-color2);
    font-family: var(--primary-font-family);
    overflow-x: hidden;
    transition: all 0.3s ease;
}

/*Scrollbar*/
::-webkit-scrollbar { width: 0.8rem; }

::-webkit-scrollbar-track { background: hsl(202, 72%, 47%, 0.4); }

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 20px;
}