@media (max-width: 768px) {
    /*Footer*/
    .footer-p a, .footer-p p { font-size: calc(var(--fs-p) * 0.8); }
}

@media (max-width: 550px) {
    /*Footer*/
    .footer-top {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-mid { order: -1; }

    .footer-left { 
        order: 2; 
        display: flex; 
        align-items: center; 
        justify-content: center; 
    }

    .footer-right { 
        order: 1; 
        display: flex; 
        align-items: center; 
        justify-content: center; 
    }

    .footer-p a, .footer-p p { font-size: var(--fs-p); }
}
