.hamburger { display: none; }

.hamburger .hamburger-icon {
    width: clamp(2rem, 5vw, 3rem);
    height: auto;
    color: white;
}

@media (max-width: 1024px) {
    .hamburger {
        border: none;

        display: flex;
        align-items: center;
        justify-content: center;

        width: clamp(2.5rem, 2vw, 5rem);
        height: clamp(2.5rem, 2vw, 5rem);
        margin-right: 0.3rem;
        cursor: pointer;

        background-color: var(--secondary-color);
        border-radius: 50%;
    }

    .hamburger .hamburger-icon {
        height: auto;
        width: 70%;
    }
}