.mobile-nav-link {
    background: none;
    border: none;
    font-family: var(--primary-font-family);
    font-weight: 500;
    font-size: var(--fs-h3);
}

.my-icon {
    position: relative;
    height: 80%;
    width: auto;
    aspect-ratio: 1 / 1;
    left: 5%;

    background: white;
    color: var(--bg-color-ternary);

    padding: 0.2rem;
    border-radius: 50%;
    transition: left 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-mobile { display: none; }

@media (max-width: 1024px) {
    .nav-mobile {
        position: fixed;
        width: min(65%, 350px);
        height: 100dvh;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 3rem;
        padding-bottom: 2rem;

        right: -100%;
        top: 0px;
        z-index: 100;

        background: var(--mobile-bg-color);
        box-shadow: -5px 0 20px rgba(0,0,0,0.1);
        border-left: none;

        transition: right 0.4s ease-out;
    }

    .nav-mobile.show { right: 0px; }

    .nav-mobile .close-btn {
        display: flex;
        align-items: center;
        position: absolute;

        width: 2rem;
        height: 2rem;

        cursor: pointer;
        border: none;
        padding: 0;
        background: transparent;

        top: clamp(25px, 3vw, 35px);
        right: clamp(25px, 3vw, 35px);
    }

    .nav-mobile .close-btn .close-icon {
        height: 100%;
        width: 100%;
        color: var(--bg-color-ternary);
    }

    .mobile-nav-menu {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1.5rem;

        width: 100%;
        box-sizing: border-box;

        font-size: var(--fs-h3);
        margin: clamp(20%, 15vh, 40%) 0 0 0;
        padding-right: clamp(25px, 3vw, 35px);
    }

    .mobile-nav-menu .mobile-nav-link {
        color: var(--text-color1);
        text-decoration: none;
    }

    .mobile-navbar-right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        margin-top: 30px;
        width: 100%;
        flex: 1;
        height: auto;
        box-sizing: border-box;
        gap: 2rem;
        padding-right: clamp(25px, 3vw, 35px);
    }

    .mobile-btn-contact {
        height: auto;
        padding: clamp(0.5em, 1vw, 0.9em) clamp(1em, 2vw, 1.5em);

        border: 3px solid transparent;
        border-radius: 50px;

        background-color: var(--bg-color-ternary);
        text-decoration: none;
        color: #f2f2f2;
        font-size: var(--fs-p);
        font-weight: bold;
        white-space: nowrap;
        font-family: var(--primary-font-family);

        transition: all 0.2s ease-in;
    }

    .mobile-btn-contact:hover {
        background-color: #f2f2f2;
        border: 3px solid var(--primary-color);
        color: var(--primary-color);
    }

    .theme-switch {
        transform: rotate(0deg);
        overflow: visible;
    }

    body.darkmode .theme-switch .my-icon {
        transform: rotate(0deg);
        padding: 5%;
    }

    .mobile-menu-content {
        display: flex;
        flex-direction: column;
        flex: 1;
        width: 100%;
    }
}