.dashboard-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.dashboard-charts-row {
    display: flex;
    gap: 3rem;
    width: 100%;
}

.dashboard-charts-row > * {
    flex: 1;
}

@media screen and (max-width: 768px) {
    .dashboard-charts-row {
        flex-direction: column;
    }
}